<div id="game-results">
<% @games.each do |game| %>
  <li>
    <h3><%= game.name %></h3> <br>
    Rating: <%= rating_for game, "overall" %>
    <%= image_tag game.boxart, style: 'height: 75px; width: 75px;' if game.boxart%>
   <p> <%= game.synopsis %> </p>
  <%= form_tag games_one_path, method: :get do %>
   <%= button_tag 'View' %>
   <%= hidden_field_tag 'gameID', game.api_id %>
  <% end %>
   <%= button_to "delete", {:controller => :games,
      :action => 'destroy', :id => game.id }, :method => :delete, data: { confirm: "Are you sure?" } %>
  </li>
<% end %>
</div>