<ul id="search-results">
<% @games.each do |game| %>
  <li>
    <h3><%= game['name'] %></h3> <br>
   <img class="index-image"> <%= image_tag game['image']['small_url'], style: 'height: 75px; width: 75px;' if game['image']%></img>
   <p> <%= game['deck'] %> </p>
  <%= form_tag games_one_path, method: :get do %>
   <%= button_tag 'View' %>
   <%= hidden_field_tag 'gameID', game['id'] %>
  <% end %>
  <%= form_tag games_path, method: :post do %>
   <%= button_tag 'Save' %>
   <%= hidden_field_tag 'gameID', game['id'] %>
  <% end %>  
  </li>
<% end %>
</ul>

