<!DOCTYPE html>
<html>
<head>
  <title>GameSage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main-header">
  <div id="header">
    <h1>GameSage</h1>
  </div>
  <div id="banner">
  <% if current_user %>  
      Welcome back, <%= current_user.username %> |
      <%= link_to 'Log Out', sessions_path, method: :delete %> |
      <%= link_to 'My Games', games_path, method: :get %> |
      <%= "The greatest video game search app on the internet!"%>
  <% else %>
      <%= link_to 'Sign Up', new_user_path %> |
      <%= link_to 'Log In', sessions_new_path %> |
      <%= "The greatest video game search app on the internet!"%>
  <% end %>
    <%= form_tag games_search_path, method: :get do %>
      <%= label_tag 'Search' %>
      <%= text_field_tag 'Search' %>
      <%= submit_tag 'Search' %>
    <%end%>
  </div>
</div>
<div id="spacer">
</div>
<%= yield %>

</body>
</html>
